<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon2.ico?id=1">
    <title>Italian Sushi</title>


    <!-- <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"> -->
    <!-- <link href="{% static "font-awesome-4.4.0/css/font-awesome.min.css" %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static "css/index.css" %}" rel="stylesheet">

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <!-- <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "js/bootbox.min.js" %}"></script>

</head>


<div class="alert alert-success fade in bot-page-alert" role="alert" hidden 
    style="position: fixed;bottom: -10px;z-index:9999;width:300px;">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <span id="alert-success-span"></span>
</div>

<div class="alert alert-danger fade in" role="alert" hidden 
    style="position: fixed;bottom: -10px;z-index:9999;width:300px;">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <span id="alert-danger-span"></span>
</div>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <div class="navbar-brand-name">
                        <img src="/static/img/tahm.png" alt="Tahm Logo" style="float:left;margin:-13px 5px;width:50px;height:50px;"/>
                        iTahmSets
                    </div>

                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                	<li><a href="">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if logged_in %}
                    <li><a href="../logout/">{{ user.username }} | Logout</a></li> 
                    {% else %}
                    <li><a href="" class="login-popup">Login</a></li> 
                    {% endif %}
                </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container section-container about-container">
    	<div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 bhoechie-tab-container">
                <div class="inner-about-container">

                    <h1>About iTahmSets</h1>               
                        <p>
                        iTahmSets isn't endorsed by Riot Games and neither
                        reflects the views or opinions of Riot Games nor anyone 
                        officially involved in producing or managing League of Legends. 
                        League of Legends and Riot Games are trademarks or registered 
                        trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                        </p>
                    <h4>
                        iTahmSets was originally created for the Riot API Challenge 2.0 in August 2015.
                        For more details on the competition, 
                        see <a href="https://developer.riotgames.com/discussion/announcements/show/2lxEyIcE">here.</a>
                    </h4>
                    <h5 style="margin-bottom:5px;">
                     <strong> 
                        Remember your account on this website is distinct from and unrelated to your League of Legends account! 
                    </strong></h5>
                    <hr style="margin-bottom:10px; margin-top:10px;">
	                   <h3 style="margin-top:0px; margin-bottom:5px;">Features</h3>
	                <p> iTahmSets provide 5 distinct features for users. See the tutorials in the tabs for how to use. </p> 
                        <h4 style="margin-bottom:5px;">Uploading Item Sets </h4>
                        <p> Store your item set JSON files on our website. Our website will check the file format to 
                            make sure it is in the appropriate format. You can download them on any computer. 
                        </p>
                        <h4 style="margin-bottom:5px;">Matchup Generator </h4>
                        <p> From our dataset, we parse item information from thousands of matches and use a weighted
                            algorithm based on the lane, opponent champion, and who won the game to generate an item set with
                            5 blocks: <b>Starting Items</b>, <b>Early Game</b>, <b>Mid Game</b>, <b>Late Game</b>,
                            <b>Full Build</b>.
                        </p>
                        <h4 style="margin-bottom:5px;">Item Set Builder</h4>
                        <p> 
                            Design a custom item set in-browser that can be downloaded and used in-game. 
                        </p>
                        <h4 style="margin-bottom:5px;">Search Tool</h4>
                        <p> 
                            Browse by champion and lane to see the most popular item sets that other users have uploaded or designed. 
                            You can vote on your favorites too!
                        </p>
                        <h4 style="margin-bottom:5px;">Saved Item Set Manager</h4>
                        <p> 
                            View, edit, and download all item sets saved to your account. 
                            You can save up to 10 item sets to a single account. 
                        </p>

                    <hr style="margin-bottom:10px; margin-top:10px;">
                    <h3 style="margin-bottom:5px; margin-top:0px;">Data Set</h3>
                    <p> Using the Riot Developmental API, we collected ~11,000 ranked players from the
                        Plat-Diamond range and ~50,000 of their unique ranked SR matches. 
                        <strong>Due to GitHub repo limits, we currently only use a smaller set of ~5000 matches to generate lane matchups.
                        In the future this will be increased, which will drastically improve the generated matchup results.</strong>
                    </p>
                    <p style="margin-bottom:0px;">     Summoner IDs -- {{ summoner_data_update }} </p>
                    <p style="margin-bottom:0px;">     Match IDs -- {{ match_data_update }}    </p>
                    <p style="margin-bottom:0px;">     Champion Data -- {{ champ_data_update }}    </p>
                    <p style="margin-bottom:5px;">     Item Data  -- {{ item_data_update }}     </p>
                    <hr style="margin-bottom:10px; margin-top:10px;">
                    <h3 style="margin-bottom:5px; margin-top:0px;">Frequently Asked Questions</h3>
                    <p> Your question still not answered? 
                        Shoot us an email at <a href="mailto:italiansushichef@gmail.com?Subject=Question">italiansushichef@gmail.com</a>
                    </p>

                    <h4 style="margin-bottom:5px;">What is League of Legends?</h4>
                    <p> While I don't usually answer a question with a question, 
                        in this case: How did you find our site? 
                    </p>
                    <h4 style="margin-bottom:5px;">Why can't I upload my item set?</h4>
                        <p> Remember that you need to upload your item set in the specified json file format! 
                            Check here for more info: <a href="https://developer.riotgames.com/docs/item-sets">
                            https://developer.riotgames.com/docs/item-sets</a>
                        </p>
                    <h4 style="margin-bottom:5px;">How to Download:</h4>
                        <p>Use your item set in game! Clicking the download button will open the json file of the item set in a new tab. <br>
                            <br>
                            It should look something like this:
                            <br>
                            <ul style="list-style-type:none"><li><img class="tutorial-img"src="http://i.imgur.com/TG9EDAn.png" title="source: imgur.com" style="width:60%;height:35%;"/></li></ul>
                            <br>
                            <ol type='1'>
                                <li>Right click anywhere on the page and select 'Save as'</li>
                                <br>
                                <li>Navigate to your League of Legends folder, which is where you saved it when you first installed the game.</li>
                                The default location for Windows users is: C:\Riot Games\League of Legends\<br>
                                <br>
                                <li>If you want the item set to be available for all champions, navigate to: </li>
                                    <ul style="list-style-type:circle"><li>League of Legends > Config > Global > Recommended</li></ul><br>
                                    (if you can't find the Global folder, create one in the Config folder)<br>
                                <br>
                                <li>If you want the item set to be saved for specific champion, navigate to: </li>
                                    <ul style="list-style-type:circle"><li>League of Legends > Config > Champions > <span style="color:blue">champion name</span> > Recommended</li></ul>
                                <br>
                                <img class="tutorial-img" src="http://i.imgur.com/tHphIWR.png" title="source: imgur.com" style="width:75%;height:35%;"/>
                                <br>
                                <li>After saving, your item set should be available in game.</li>
                            </ol>
                        </p>
                    <h4 style="margin-bottom:5px;">Are you coming out with more features (e.g. item sets for ARAM, dataset updates)?</h4>
                        <p>
                        After the Riot API Challenge 2.0 is over and judged, we will add new features. 
                        </p>
                </div>
            </div>
      </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                    iTahmSets isn't endorsed by Riot Games and neither
                    reflects the views or opinions of Riot Games nor anyone 
                    officially involved in producing or managing League of Legends. 
                    League of Legends and Riot Games are trademarks or registered 
                    trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>


</html>
