<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iTahmSets</title>


    <!-- <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"> -->
    <!-- <link href="{% static "font-awesome-4.4.0/css/font-awesome.min.css" %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{% static "css/index.css" %}" rel="stylesheet">

    <!-- <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static "js/bootbox.min.js" %}"></script>

</head>


<div class="alert alert-success fade in bot-page-alert" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <a class="close" data-dismiss="alert">&times;</a>
    <span id="alert-success-span"></span>
</div>

<div class="alert alert-danger fade in bot-page-alert" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <a class="close" data-dismiss="alert">&times;</a>
    <span id="alert-danger-span"></span>
</div>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">iTahmSets</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="about">About</a></li>
                    <!-- <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if logged_in %}
                    <li><a href="../logout/">{{ user.username }} | Logout</a></li> 
                    {% else %}
                    <li><a href="" class="login-popup">Login</a></li> 
                    <li><a href="" class="createuser-popup">Create Account</a></li> 
                    {% endif %}
                    <!-- <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li> -->
                </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- This section adapted from a Bootstrap 3.1.0 snippet by Septian-Bhoechie 
        from http://bootsnipp.com/snippets/featured/simple-vertical-tab -->

    <div class="container section-container main-container">
    	<div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 bhoechie-tab-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                  <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                      <h4 class="fa fa-cloud-upload"></h4><br/>Upload Item Sets
                    </a>
                    <a href="#" class="list-group-item text-center">
                      <h4 class="fa fa-gamepad"></h4><br/>Lane Matchup Generator
                    </a>
                    <a href="#" class="list-group-item text-center">
                      <h4 class="fa fa-home"></h4><br/>Feature3
                    </a>
                    <a href="#" class="list-group-item text-center">
                      <h4 class="fa fa-cutlery"></h4><br/>Feature4
                    </a>
                    <a href="#" class="list-group-item text-center">
                      <h4 class="fa fa-credit-card"></h4><br/>Feature5
                    </a>
                  </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                    <div class="bhoechie-tab-content active">
                        <center>
                            <h1 class="fa fa-cloud-upload color-icon"></h1>
                            <h2 class="color-header">Upload your item sets</h2>
                            <h5 class="color-header">Store your item set JSON files online, so you 
                            can download them on other devices. </h5>

                            {% if not logged_in %}

                            <h5 class="color-header">
                                It looks like you aren't logged in. 
                                You must log in to save item sets to your profile. 
                                If you don't have an account, you can create one for free! 
                            </h5>
                            <a href="#" id="login-btn" class="btn btn-md btn-primary btn-side login-popup">
                                Log In</a>
                            &nbsp;
                            <a href="#" id="createuser-btn" class="btn btn-md btn-primary btn-side createuser-popup">
                                Create Account</a>

                            {% elif logged_in %}

                            <form method="POST" enctype="multipart/form-data" action="/upload/">
                                {% csrf_token %}
                                <div class="col-xs-12">
                                <input type="file" style="margin-bottom:5px" name="json" required/>
                                </div>
                                <div class="ui-widget col-sm-4">
                                    <input class="champ-input" id="upload_champ1" name="champ1" placeholder="Champion For"/>
                                </div>
                                <div class="ui-widget col-sm-4">
                                    <input class="champ-input" id="upload_champ2" name="champ2" placeholder="Champion Against"/>
                                </div>
                                <div class="col-sm-3 col-sm-offset-0 col-xs-12 col-xs-offset">
                                    <select id="form-lane" class="form-control" name="lane">
                                        <option value="">any lane</option>
                                        <option value="M">mid</option>
                                        <option value="T">top</option>        
                                        <option value="J">jungle</option>
                                        <option value="B">bot</option>
                                    </select>
                                </div>
                                <div class="col-xs-12">
                                    <input type="submit" name="submit" value="Upload" class="btn btn-md btn-primary btn-side"/>
                                    <a href="#" id="viewfiles-btn" class="btn btn-md btn-primary btn-side viewfiles-popup">
                                    View Uploaded Sets</a>
                                </div>
                                
                            </form>

                            {% endif %}
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                            <h1 class="fa fa-gamepad color-icon"></h1>
                            <h2 class="color-header">Lane Matchup Generator</h2>
                            <h5 class="color-header">
                                Enter your champion and lane opponent to get an item set customized for your matchup.
                            </h5>
                            <div class="ui-widget col-sm-4">
                                <input class="champ-input" id="champ1" placeholder=" Your Champion"/>
                            </div>
                            <div class="ui-widget col-sm-4">
                                <input class="champ-input" id="champ2" placeholder=" Your Opponent"/>
                            </div>
                            <div class="col-sm-3 col-sm-offset-0 col-xs-6 col-xs-offset-3">
                                <select id="matchup-lane" class="form-control">
                                    <option value="">any lane</option>
                                    <option value="M">mid</option>
                                    <option value="T">top</option>        
                                    <option value="J">jungle</option>
                                    <option value="B">bot</option>
                                </select>
                            </div>
                            <div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-8 btn-top-bot-margins">
                                <a id="matchup-popup-btn" class="btn btn-md btn-primary matchup-popup">
                                Generate Item Set</a>
                            </div>
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                          <h1 class="fa fa-home color-icon"></h1>
                          <h2 class="color-header">Coming Soon</h2>
                          <h3 class="color-header">Build a custom item sets</h3>
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                          <h1 class="fa fa-cutlery color-icon"></h1>
                          <h2 class="color-header">Coming Soon</h2>
                          <h3 class="color-header">Generate a random item set</h3>
                        </center>
                    </div>
                    <div class="bhoechie-tab-content">
                        <center>
                          <h1 class="fa fa-credit-card color-icon"></h1>
                          <h2 class="color-header">Coming Soon</h2>
                          <h3 class="color-header">Money Money Money</h3>
                        </center>
                    </div>
                </div>
            </div>
      </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                    iTahmSets isn't endorsed by Riot Games and neither
                    reflects the views or opinions of Riot Games nor anyone 
                    officially involved in producing or managing League of Legends. 
                    League of Legends and Riot Games are trademarks or registered 
                    trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function() {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });

        // For previewing item-sets in-browser
        var getItemPreviewHtml = function getItemPreviewHtml(jsonfile) {
            var return_html = "";
            var blocks = jsonfile["blocks"];
            if (!jsonfile["blocks"])
            {
                return_html = '<p><strong> No items in this item set. </strong></p>';
            }
            else
            {
                for (var i = 0; i < blocks.length; i++)
                {
                    return_html += '<div class="row">';
                    return_html += '<div class="col-xs-12"><strong style="font-size:10px;">' 
                                            + blocks[i]["type"] + '</strong></div>';
                    return_html += '<div class="col-xs-12">';
                    var items_in_block = blocks[i]["items"];
                    for (var j = 0; j < items_in_block.length; j++)
                    {

                        var item = items_in_block[j];
                        return_html += '<img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/' 
                                                + item["id"] + '.png"' + ' style="height:45px;width:45px;">';
                    }
                    return_html += '</div>';
                    return_html += '</div>';
                }
            }
            return_html += '<br>';
            return return_html;
        };

        var autocompleteForId = function autocompleteForId(idstring) {
            $(idstring).autocomplete({
                source: function(request, response) {
                    var query = $(idstring).val();
                    $.get('/ac-champ/', {query: query}, function(matchls){
                        response(matchls["ac-match"]);
                    });
                }
            });
        };
        

        $('.login-popup').click(function(e){
            e.preventDefault();
            console.log("login-btn clicked");
            bootbox.dialog({
                
                message: '<div class="row">'
                            + '<div class="col-xs-12">'
                                + '<h1 class="text-center form-title"> Log in to upload, save, and download item sets. </h1>'
                                + '<div class="form-box">'
                                    + '<form id="login-form" class="form-login" method="POST" action="/login/">'
                                        + "{% csrf_token %}" 
                                        + '<input type="text" name="usernameoremail" class="form-control" placeholder="Username or Email" required autofocus/>'
                                        + '<input type="password" name="password" class="form-control" placeholder="Password" required/>'
                                        + '<button type="submit" class="hide" id="submit-login-form"></button>'
                                    + '</form>'
                                + '</div>'
                            + '</div>'
                        + '</div>',
                buttons: {
                    success: {
                        label: "Log In",
                        className: "btn-primary",
                        callback: function(){
                            $('#submit-login-form').click();
                            return false;
                        }
                    }
                },
                onEscape: function() {},
            });
        });

        $('.createuser-popup').click(function(e){
            e.preventDefault();
            console.log("createuser-btn clicked");
            bootbox.dialog({
                
                message: '<div class="row">'
                            + '<div class="col-xs-12">'
                                + '<h1 class="text-center form-title"> Create a free user account to upload, save, and download item sets. Please note this account is separate from your Riot League of Legends account. </h1>'
                                + '<div class="form-box">'
                                    + '<form id="createuser-form" class="form-login" method="POST" action="/createuser/">'
                                        + "{% csrf_token %}" 
                                        + '<input type="text" name="username" class="form-control" placeholder="Username" required autofocus/>'
                                        + '<input type="text" name="email" class="form-control" placeholder="Email" required/>'
                                        + '<input type="password" name="password" class="form-control" placeholder="Password" required/>'
                                        // + '<input type="password" name="repassword" class="form-control" placeholder="Re-enter Password" required>'
                                        + '<button type="submit" class="hide" id="submit-createuser-form"></button>'
                                    + '</form>'
                                + '</div>'
                            + '</div>'
                        + '</div>',
                buttons: {
                    success: {
                        label: "Create User Account",
                        className: "btn-primary",
                        callback: function(){
                            $('#submit-createuser-form').click();
                            return false;
                        }
                    }
                },
                onEscape: function() {},

            });
        });
        
        $('.viewfiles-popup').click(function(e){
            e.preventDefault();
            // console.log("viewfiles-btn clicked");
            var items = [];
            var item_jsonfiles = []; 
            $.when($.get('/view-items/', function(result){
                numitems = result.number;
                for (var i = 0; i < numitems; i++)
                {
                    items[i] = result[i]["filename"];
                    item_jsonfiles[i] = result[i]["jsonfile"];
                }
            })).then(function(){
                bootbox.dialog({
                    
                    message: '<div class="row">'
                                + '<div class="col-xs-12">'
                                    + '<h1 class="text-center form-title"> Download and Delete your Item Sets </h1>'
                                    + '<div class="panel panel-default">'
                                        + '<div class ="panel-body" id="dynamic-panel">'
                                        + '</div>'
                                    + '</div>'
                                + '</div>'
                            + '</div>',
                    onEscape: function() {},

                });
                var dynamictable;
                if (items.length == 0)
                {
                    dynamictable = '<h4> No item sets currently saved </h4>';
                }
                else
                {
                    dynamictable = '<table class="table"><col width="70%"><col width="10%"><col width="10%"><col width="10%">';
                    // Head
                    dynamictable += '<thead>';
                    dynamictable += '<tr><th>ItemSet</th>';
                    dynamictable += '<th class="text-center">Preview</th>';
                    dynamictable += '<th class="text-center">Download</th>';
                    dynamictable += '<th class="text-center">Delete</th></tr>';
                    dynamictable += '</thead>';
                    // Body
                    dynamictable += '<tbody>' ;
                    for (var i = 0; i < items.length; i++)
                    {
                        dynamictable += '<tr id="row_' + items[i] + '">';
                        dynamictable += '<td>' + items[i] + '</td>';
                        dynamictable += '<td class="text-center">'
                                        + '<button type="submit" class="btn btn-primary btn-preview-item"'
                                        + 'id="{{user.username}}_preview:' + items[i] +'_'+i+'">'
                                        + '<span class="fa fa-search"></span></button></form></td>';

                        dynamictable += '<td class="text-center"><a href="/{{user.username}}/' + items[i] + '.json"' 
                                        + ' type="submit" class="btn btn-success"' 
                                        + 'id="{{user.username}}_dl_' + items[i] +'" target="_blank">'
                                        + '<span class="fa fa-download"></span></a></td>';

                        dynamictable += '<td class="text-center">'
                                        + '<form method="POST" id="{{user.username}}_delete_'+items[i]+'_form">' 
                                        + "{% csrf_token %}"
                                        + '<input type="text" name="name" value="'+items[i]+'" hidden = true/>'
                                        + '<input type="text" name="user" value="{{user.username}}" hidden = true/>'
                                        + '<button type="submit" class="btn btn-danger btn-delete-item"'
                                        + 'id="{{user.username}}_delete_' + items[i]+'">'
                                        + '<span class="fa fa-trash-o"></span></button></form></td>';
                        dynamictable += '</tr>';
                        dynamictable += '<tr id="item_row:' + i + '"></tr>';
                    }

                    dynamictable += '</tbody>';
                    dynamictable += '</table>';
                }
                document.getElementById('dynamic-panel').innerHTML = dynamictable;
                // console.log("items after2 " + items);

                $('.btn-delete-item').click(function(e){
                    e.preventDefault();
                    var id = (e.currentTarget.id || e.srcEvent.id); // this may not work in IE!
                    var clicked_btn = document.getElementById(id);                    
                    var clicked_btn_id = clicked_btn.id.split('_');
                    var itemset_name = clicked_btn_id[2];
                    for (var i = 3; i < clicked_btn_id.length; i++)
                    {
                        itemset_name += "_" + clicked_btn_id[i];
                    }
                    var delete_form_id = clicked_btn.id + '_form';
                    var delete_form = document.getElementById(delete_form_id);
                    bootbox.dialog({
                        message: '<div class="row">'
                                    + '<div class=col-xs-12>'
                                        + '<p> Are you sure you want to remove ' 
                                            + '<strong>' + itemset_name + '</strong>?'
                                        + '</p>'
                                        + '<p>This action cannot be undone!</p>'
                                    + '</div>'
                                + '</div>'
                        ,
                        onEscape: function() {},
                        buttons: {
                            danger: {
                                label: "Delete Item Set",
                                className: "btn-danger",
                                callback: function(){
                                    var parentrow = $(clicked_btn.parentNode.parentNode.parentNode); // hardcoded for current structure
                                    var nextrow = parentrow.next();
                                    parentrow.remove();
                                    nextrow.remove();
                                    $.post('/delete-itemset/', $(delete_form).serialize(), function(response){
                                        console.log(response);
                                    });
                                }
                            },
                            main:{
                                label: "Cancel",
                                className: "btn-default",
                                callback: function(){}
                            },
                        },
                    });
                });
                
                $('.btn-preview-item').click(function(e){
                    e.preventDefault();
                    var id = (e.currentTarget.id || e.srcEvent.id); // this may not work in IE!                
                    var clicked_btn_id = id.split('_');
                    var num_id = clicked_btn_id[clicked_btn_id.length - 1];
                    if (document.getElementById('item_row:' + num_id).innerHTML != "")
                        document.getElementById('item_row:' + num_id).innerHTML = "";
                    else
                    {
                        var myitems_jsonfile = JSON.parse(item_jsonfiles[num_id]);
                        document.getElementById('item_row:' + num_id).innerHTML = getItemPreviewHtml(myitems_jsonfile);
                    }

                });
            });       
        });
        
        autocompleteForId("#champ1");
        autocompleteForId("#champ2");
        autocompleteForId("#upload_champ1");
        autocompleteForId("#upload_champ2");

        $('.matchup-popup').click(function(e){
            e.preventDefault();
            var champ1 = $("#champ1").val();
            var champ2 = $("#champ2").val();
            var raw_lane = $("#matchup-lane").val();
            var lane;
            if (raw_lane == "")
                lane = "any lane"
            else if (raw_lane == "M")
                lane = "mid"
            else if (raw_lane == "B")
                lane = "bot"
            else if (raw_lane == "T")
                lane = "top"
            else if (raw_lane == "J")
                lane = "jungle"
            var id1;
            var id2;
            var matchuppanel_html = "";
            var matchup_jsonfile;
            var matchup_fileid;
            var matchup_filename;
            $.when($.ajax({
                url: "matchup_generate_item/",
                type: "POST",
                data: {'champ1': champ1, 'champ2': champ2, 'lane': raw_lane, 
                        'csrfmiddlewaretoken': "{{ csrf_token }}"},

                success : function(json) {
                    if (json['champ1_id'] == 0) 
                        {
                            champ1 = "None";
                            id1 = json['champ1_id'];
                        }
                    else if (!json['champ1_id']) // None or null 
                    {
                        champ1 = '<strong style="color:red;">' + champ1 + '</strong>';
                    }
                    else
                    {   
                        id1 = json['champ1_id']; 
                    }

                    if (json['champ2_id'] == 0) 
                        {
                            champ2 = "None";
                            id2 = json['champ2_id'];
                        }
                    else if (!json['champ2_id']) // None or null 
                    {
                        champ2 = '<strong style="color:red;">' + champ2 + '</strong>';
                    }
                    else
                    {   
                        id2 = json['champ2_id']; 
                    }

                    if (json['champ2_id'] == 0 && json['champ1_id'] == 0)
                    {
                        champ1 = '<strong style="color:red;">' + champ1 + '</strong>';
                        champ2 = '<strong style="color:red;">' + champ2 + '</strong>';
                    }

                    if (!json['valid_lane'])
                        lane = '<strong style="color:red;">' + lane + '</strong>';


                    if (json['jsonfile'])
                    {
                        matchup_jsonfile = JSON.parse(json['jsonfile']);
                        matchup_fileid = json['jsonfile_id']
                        matchup_filename = json['jsonfile_name']
                    }
                    else
                    {
                        matchuppanel_html = '<h4> Unable to generate an itemset. Please fix inputs and try again. </h4>';
                    }
                },

                error : function(xhr, errmsg, err){
                    console.log(xhr.status + ": " + xhr.responseText);
                    champ1 = '<strong style="color:red;">' + champ1 + '</strong>';
                    champ2 = '<strong style="color:red;">' + champ2 + '</strong>';
                    lane = '<strong style="color:red;">' + lane + '</strong>';
                    matchuppanel_html = '<h4> An error on the backend occurred. To report, please email italiansushichef@gmail.com </h4>';
                }

            })).then(function(){
                bootbox.dialog({
                    message: '<div class="row">'
                                + '<div class="col-xs-12">'
                                    + '<h1 class="text-center form-title"> Lane Matchup Item Set Generator</h1>'
                                    + '<div class="col-xs-6 col-sm-offset-1 col-sm-4">'
                                        + '<span class="label label-primary">Your Champion</span>' + champ1
                                    + '</div>'
                                    + '<div class="col-xs-6 col-sm-4">'
                                        + '<span class="label label-primary">Your Opponent</span>' + champ2
                                    + '</div>'
                                    + '<div class="col-xs-3">'
                                        + '<span class="label label-primary">Lane</span>' + lane
                                    + '</div>'
                                    + '<div class="col-xs-12" style="margin-top:5px;">'
                                        + '<div class="panel panel-default">'
                                            + '<div class ="panel-body" id="dynamic-matchup-panel">'
                                            + '</div>'
                                        + '</div>'
                                    + '</div>'
                                + '</div>'
                            + '</div>',
                    onEscape: function() {},

                });
                if (matchup_jsonfile)
                {
                    matchuppanel_html = '<table class="table"><col width="80%"><col width="10%"><col width="10%">';
                    // Head
                    matchuppanel_html += '<thead>';
                    matchuppanel_html += '<tr><th>ItemSet</th>';
                    matchuppanel_html += '<th class="text-center">Save</th>';
                    matchuppanel_html += '<th class="text-center">Download</th>';
                    matchuppanel_html += '</thead>';
                    // Body
                    matchuppanel_html += '<tbody>' ;
                    matchuppanel_html += '<tr id="hdr_' + matchup_fileid + '">';

                    matchuppanel_html += '<td>' + matchup_filename + '</td>';

                    matchuppanel_html += '<td class="text-center">'
                                        + '<form method="POST" id="save_'+ matchup_fileid +'_form">' 
                                        + "{% csrf_token %}"
                                        + '<input type="number" name="idToSave" value="'+ matchup_fileid +'" hidden = true/>'
                                        + '<button type="submit" class="btn btn-primary btn-save-item"'
                                        + 'id="login-save:' + matchup_fileid +'">'
                                        + '<span class="fa fa-bookmark"></span></button></form></td>';

                    matchuppanel_html += '<td class="text-center"><a href="/tmp/' + matchup_filename + '.json"' 
                                        + ' type="submit" class="btn btn-success"' 
                                        + 'id="dl:' + matchup_fileid + '" target="_blank">'
                                        + '<span class="fa fa-download"></span></a></td>';
                    
                    matchuppanel_html += '</tr>';
                    matchuppanel_html += '<tr id="item_row:' + matchup_fileid + '"></tr>';
                    matchuppanel_html += '</tbody>';
                    matchuppanel_html += '</table>';
                }
                document.getElementById('dynamic-matchup-panel').innerHTML = matchuppanel_html;
                if (matchup_jsonfile)
                    document.getElementById('item_row:' + matchup_fileid).innerHTML = getItemPreviewHtml(matchup_jsonfile);

                $('.btn-save-item').click(function(e){
                    e.preventDefault();
                    var save_form = document.getElementById('save_' + matchup_fileid + '_form');
                    {% if logged_in %}
                    $.ajax({
                        url: "matchup-save-file/",
                        type: "POST",
                        data: $(save_form).serialize(),
                        success : function(json) {
                            if (json["success"]) 
                            {
                                document.getElementById('alert-success-span').innerHTML = "ItemSet added to your items successfully!"
                                $('#alert-success-span').parent().css('visibility', 'visible');
                                $('#alert-danger-span').parent().css('visibility', 'hidden');
                                $(".btn-save-item").attr("disabled","disabled");
                            }
                            else if (json["max_uploads_reached"])
                            {
                                document.getElementById('alert-danger-span').innerHTML = "Sorry, you have reached the item set max of 10" 
                                                                        + " and cannot add more item sets."
                                $('#alert-danger-span').parent().css('visibility', 'visible');
                                $('#alert-success-span').parent().css('visibility', 'hidden');
                                $(".btn-save-item").attr("disabled","disabled");
                            }
                            else 
                            {
                                document.getElementById('alert-danger-span').innerHTML = "Sorry, something went wrong. Refresh and try again."
                                $('#alert-danger-span').parent().css('visibility', 'visible');
                                $('#alert-success-span').parent().css('visibility', 'hidden');
                                $(".btn-save-item").attr("disabled","disabled");
                            }
                        },
                        error : function(xhr, errmsg, err){
                            console.log(xhr.status + ": " + xhr.responseText);
                        },
                    });
                    {% else %}
                    bootbox.dialog({
                        message: '<div class="row">'
                                    + '<div class="col-xs-12">'
                                        + '<h1 class="text-center form-title">' 
                                            + 'Create or login to your free user account to save this item set.&nbsp'
                                            + 'Please note this account is separate from your Riot League of Legends account. </h1>'
                                        + '<h1 class="text-center form-title"><strong>'+ matchup_filename +'</strong>'
                                        + '&nbsp;will be automatically added</h1>'
                                        + '<div class="row">'

                                            + '<div class="col-xs-12 col-sm-6 form-box">'
                                                + '<h1 class="text-center form-title-smaller">Create a free account</h1>'
                                                + '<form id="createuser-form" class="form-login" method="POST" action="/createuser-and-save/">'
                                                    + "{% csrf_token %}" 
                                                    + '<input type="text" name="username" class="form-control"' 
                                                        + 'placeholder="Username" required autofocus/>'
                                                    + '<input type="text" name="email" class="form-control" placeholder="Email" required/>'
                                                    + '<input type="password" name="password" class="form-control"' 
                                                        + 'placeholder="Password" required/>'
                                                    + '<input type="number" name="idToSave" value="'+ matchup_fileid 
                                                        +'" hidden=true required/>'
                                                    + '<button type="submit" class="btn btn-primary center-block" id="submit-createuser-form">'
                                                        + 'Create Free Account</button>'
                                                + '</form>'
                                            + '</div>'

                                            + '<div class="col-xs-12 col-sm-6 form-box">'
                                                + '<h1 class="text-center form-title-smaller">Sign in to existing account</h1>'
                                                + '<form id="login-form" class="form-login" method="POST" action="/login-and-save/">'
                                                    + "{% csrf_token %}" 
                                                    + '<input type="text" name="usernameoremail" class="form-control"'
                                                        +  ' placeholder="Username or Email" required autofocus/>'
                                                    + '<input type="password" name="password" class="form-control"' 
                                                        + ' placeholder="Password" required/>'
                                                    + '<input type="number" name="idToSave" value="'+ matchup_fileid 
                                                        +'" hidden=true required/>'
                                                    + '<button type="submit" class="btn btn-primary center-block"'
                                                        +  ' id="submit-createuser-form">'
                                                    + 'Login</button>'
                                                + '</form>'
                                            + '</div>'

                                        + '</div>'
                                    + '</div>'
                                + '</div>',
                        onEscape: function() {},
                    });
                    {% endif %}
                });
            });
        });
        


        /* gets the URL parameters, i.e. http://dummy.com/?technology=jquery&blog=jquerybyexample 
            -- var tech = getUrlParameter('technology'); */  
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (var i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
            return null;
        };

        var uploadstatus = getUrlParameter('upload');
        var loginstatus = getUrlParameter('login');
        var createuserstatus = getUrlParameter('createuser');
        var logoutstatus = getUrlParameter('logout');
        var savestatus = getUrlParameter('save');

        if (uploadstatus == "success")
        {
            document.getElementById('alert-success-span').innerHTML = "File upload successful!"
            $('#alert-success-span').parent().css('visibility', 'visible');
        }
        else if (uploadstatus == "limitreached" || savestatus == "limitreached")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, you have reached the item set max of 10" 
                                                                        + " and cannot add more item sets.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }
        else if (uploadstatus == "badjson")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, the file you uploaded was not recognized as a" 
                                                                        + " a valid JSON item file. Please double-check and try again.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }
        else if (uploadstatus == "formfailure")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, there was an error with your form." 
                                                                        + " Please double-check and try again.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }
        else if (loginstatus=="nouser")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, we could not find a user matching those records."
                                                                        + " Please re-enter your information to try again.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }  
        else if (createuserstatus=="usernameoremailtaken")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, that username or email has already been taken."
                                                                        + " Please re-enter new information to try again.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }  
        else if (createuserstatus=="badusername")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, the username you supplied was invalid."
                                                                        + " Usernames must be 3-32 characters long.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }  
        else if (createuserstatus=="badpassword")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, the password you supplied was invalid."
                                                                        + " Passwords must be 8-32 characters long.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }  
        else if (createuserstatus=="bademail")
        {
            document.getElementById('alert-danger-span').innerHTML = "Sorry, the email you supplied was invalid."
                                                                        + " Please enter a valid email to try again.";
            $('#alert-danger-span').parent().css('visibility', 'visible');
        }
        else if (savestatus=="success")
        {
            document.getElementById('alert-success-span').innerHTML = "Matchup itemset added to your account successfully!";
            $('#alert-success-span').parent().css('visibility', 'visible');
        }

    </script>
</body>


</html>